html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: hsl(229, 57%, 11%);
  background-image: url(images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: bottom;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  height: 100%;
}

.container {
  display: flex;
  margin: 0px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}

.box {
  background-color:hsl(228, 56%, 26%);
  border-radius: 10px;
  margin: 20px;
}

.box.left {
  width: 300px;
  border-top-right-radius: 100px;
}

.box.right {  
  width: 500px;
  color: white;
  position: relative;
  align-self: flex-end;
  padding: 20px 40px 40px 40px;
}

#logo {
  margin: 30px;
}

.icon-container {
  display: flex;
  margin-left: 30px;
  margin-bottom: 30px;
}

.icon {
  background-color: hsl(229, 57%, 11%);
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin-right: 20px;
  position: relative;
}

.icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bubble {
  position: absolute;
  top: -40px;
  right: 40px;
}

#bubble p {
  padding: 20px;
  background-color: white;
  color: black;
  margin: 0px;
  border-radius: 10px 10px 0px 10px;
}

#bubble span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

#bubble .arrow-down {
  width: 0px; 
  height: 0px; 
  border-left: 20px solid transparent;
  border-top: 20px solid white;
  position: absolute;
  margin-top: -1px;
  right: 0px;
}

.meter { 
	height: 10px;
	position: relative;
	background: hsl(229, 57%, 11%);
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
  padding: 3px;
  margin-bottom: 6px;
}

.meter  .slider {
  width: 8px;
  height: 8px;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 1px;
  right: 1px;
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.caption {
  display: flex;
  justify-content: space-between;
}

.caption p {
  margin: 0px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  body {
    background-image: url(images/bg-mobile.svg);
    background-size: cover;
  }
  
  .container {
    padding-top: 130px;
    flex-direction: column;
  }

  .box.right {
    width: 300px;
    box-sizing: border-box;
    align-self: center;
    padding: 10px 20px 40px 20px;
    margin-top: 0px;
  }

  .box.right > p {
    text-align: center;
  }

  .box.left {
    align-self: center;
  }

  #bubble {
    position: absolute;
    left: 50%;
    transform: translateX(-70%);
    top: 110px;
  }

  #bubble p {
    border-radius: 10px;
    width: 150px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #bubble .arrow-down {
    border-top: 20px solid transparent;
  }
}